.carousel-item {
    position: relative;
    text-align: center; /* Alineación centrada */
}

.carousel-item img {
    max-width: 100%;
    max-height: 70vh;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: middle;
    object-fit: contain;
}

.carousel-control-prev,
.carousel-control-next {
    display: none;
}

.carousel-caption {
    background-color: transparent; /* Fondo transparente para mostrar solo el texto */
    color: #fff; /* Color de texto deseado */
    bottom: 0; /* Ajuste a la parte inferior */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    text-align: center; /* Centrar el texto */
    bottom: 0; /* Ajuste a la parte inferior */
    left: 0; /* Ajuste a la izquierda */
    width: 100%; /* Ancho completo del contenedor padre */
    padding: 10px; /* Espacio interior */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    font-weight: bold; /* Texto en negrita */
}

.carousel-caption h5,
.carousel-caption p {
    color: $primary-color; 
    margin: 0; 
    white-space: normal; 
}

@media (max-width: 576px) {
    .carousel-caption {
        background-color: transparentize($color: #aaaaaa56, $amount: 0); /* Fondo transparente para mostrar solo el texto */
        color: #fff; /* Color de texto deseado */
        bottom: 0; /* Ajuste a la parte inferior */
        padding: 20px; /* Espacio interior */
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5); /* Sombra de texto */
    }

    .carousel-caption h5,
    .carousel-caption p {
        font-weight: bold; /* Texto en negrita */
        text-align: center; /* Alineación centrada */
        margin-bottom: 0; /* Eliminar el margen inferior */
    }

    .carousel-item img {
        max-height: 200px; /* Reducir la altura máxima de las imágenes en dispositivos móviles */
        margin-bottom: 100px;
    }
}