.nosotros {
  text-align: center;
  font-weight: bold;
  color: $primary-color;

  h1 {
    font-weight: bold;
  }

  p {
    color: black;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
  }

  .marcas {
    margin-top: 20px;

    h2 {
      font-size: 24px;
      margin-bottom: 10px;
      color: $primary-color;
      font-weight: bold;
    }

    .logos {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .logo {
        width: 150px; // Ancho del contenedor del logo en píxeles
        margin: 20px; // Ajuste del margen entre logos
        text-align: center;

        img {
          max-width: 100%; // Ancho máximo de la imagen en porcentaje
          height: auto; // Ajusta la altura automáticamente
          max-height: 80px; // Altura máxima del logo en píxeles
        }
      }
    }
  }
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.map-container {
  width: 70%; 
  margin: 0 auto;
}

iframe {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}

// Estilo específico para las imágenes de los logos
.nosotros .marcas .logos .logo img {
  max-width: 150px !important; // Ajusta este valor según sea necesario
  height: auto !important;
  max-height: 80px !important; // Ajusta este valor según sea necesario
}
